.o-logo {
  display: flex;
  align-items: center;
  max-width: 390px;

  &.small {
    max-width: 340px;
    transform: scale(1);
    transition: transform 0.2s ease-out;

    .o-logo__image {
      max-height: 50px;
    }

    .o-logo__text {
      font-size: 16px;
      margin-left: 12px;
    }
  }
}

.o-logo__image {
  max-height: 72px;
}

.o-logo__text {
  font-size: 18px;
  color: $color-theme-soft;
  font-weight: $fw-bold;
  margin-left: 12px;
}

.is-sticky {
  .o-logo {
    &.small {
      transform: scale(0.7);
      transition: transform 0.1s ease-in;
    }
  }
}
